* {
  box-sizing: border-box;
}

#backgroundDiv {
  background-image: url("../images/katsujoinup.jpg");

  background-size: 100vw 75vw;
  background-repeat: no-repeat;
background-color: black;
  height: 100vw;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: 300px;
}


 
  

#bannerTabText{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -710px;
  margin-bottom: 110px;
  margin-left: -8px;
  
  background-color:  rgba(255, 255, 255, 0.4);
  height: 100px;
  
}
footer{
  height: 200px;
}


