* {
  box-sizing: border-box;
}

#backgroundDiv {
  background-image: url("../images/katsujoinup.jpg");

  background-size: 100vw 75vw;
  background-repeat: no-repeat;

  height: 100vw;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
}

#homeBanner {
  display: flex;
  flex-direction: column;
  
  margin-left: 25vw;
  margin-top: -10px;
  margin-bottom: 20px;
  justify-content: center;
  align-content: center;
  width: 550px;
}
#homeBannerText {
  display: flex;
  justify-content: center;
 
  
}
#bannerTabText{
  display: flex;
  margin-top: -275px;
  justify-content: center;
  
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100px;

  margin-left: -8px;
  margin-bottom: -8px;
  margin-top: -10px;
}

.footerIcon {
  color: azure;

  font-size: 25px;
  margin-left: 10px;
}
