* {
  box-sizing: border-box;
}

.linkList {
  display: flex;
  position: fixed;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
  margin-left: -40px;
  margin-top: -2px;
  width: fit-content;
  text-transform: uppercase;
  font-size: 30px;
}
.navItem {
  padding-right: 10px;
  color: grey;
}

.navIcon {
  color: grey;
  margin-right: 2px;
}
