@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
* {
  box-sizing: border-box;
  font-family: "Teko", sans-serif;
}

.App {
  
  margin-right: -5px;
  
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100vw;
  height: 100px;

  margin-left: -8px;
  margin-bottom: -8px;
  
  
 
}

.footerIcon {
  color: azure;

  font-size: 25px;
  margin-left: 10px;
}
